<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<!--  Die Reihenfolge der Abschnitte ist wichtig! -->
	<display-name>taskscheduler</display-name>

	<!-- Dispatcher -->
	<servlet>
		<servlet-name>taskscheduler</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>taskscheduler</servlet-name>
		<url-pattern>/issue</url-pattern>
	</servlet-mapping>
	
	<!-- Diese DRessourcen werden beim Aufruf der Serveradresse geschickt -->
	<welcome-file-list>
        <welcome-file>test2.html</welcome-file>
        <welcome-file>test2.htm</welcome-file>
    </welcome-file-list>

</web-app>
